<li id="comment-<%= comment._id %>">
    <h3>
        <% if(locals.user && comment.user.id==locals.user.id) { %>
            <small>
                <a class="delete-comment-button" href="/comments/deleteComment/<%= comment._id %>">X</a>
            </small>
            <% } %>
                <%= comment.content %>
                    <small style="color: red">
                        <%= comment.user.name %>
                    </small>
                    <br>
                    <% if(locals.user) { %>
                        <small>
                            <a class="like-button" data-likes="<%= comment.likes.length %>"
                                href="/likes/togglelikes/?id=<%= comment._id %>&type=Comment">
                                <%= comment.likes.length %> Likes
                            </a>
                        </small>
                        <% } else { %>
                            <%= comment.likes.length %> Likes
                                <% } %>
    </h3>
</li>