<li id="post-<%= post._id %>">
    <h1>
        <% if(locals.user && post.user.id==locals.user.id) { %>
            <a class="delete-post-button" href="/post/deletePost/<%= post._id %>">X</a>
            <% } %>
                <%= post.content %>
                    <small style="color: purple">
                        <%= post.user.name %>
                    </small>
    </h1>
    <% if(locals.user) {%>
        <form action="/comments/create" id="post-<%= post._id %>-comment-form" method="post">
            <input type="text" name="content" placeholder="comments...">
            <input type="hidden" name="post" value="<%= post._id %>">
            <input type="submit" value="comment">
        </form>
        <% } %>
            <div class="comment-list">
                <ul id="post-comments-<%= post._id %>">
                    <% for(comment of post.comments) {%>
                        <%- include('_comments') -%>
                            <% } %>

                </ul>
            </div>
</li>