<link rel="stylesheet" href="/css/profile.css">

<div class="dahsboard">


    <img id="profile-picture" src="<%= user.avatar %>" alt="<%= user.name %>" width="100">

    <% if(user.id==profile_user._id) {%>

        <form action="/user/update/<%= profile_user._id %>" enctype="multipart/form-data" method="post">
            <input type="text" name="name" value="<%= profile_user.name %>" placeholder="Your Name" required>
            <input type="email" name="email" value="<%= profile_user.email %>" placeholder="Your Email" required>

            <input type="file" name="avatar" placeholder="profile picture">
            <input type="submit" value="Update">
        </form>

        <%} else { %>
            <h1>
                welcome <%= profile_user.name %>
            </h1>
            <h1>
                your email: <%= profile_user.email %>
            </h1>

            <small>
                <a class="add-friend" href="/user/profile/add/<%= profile_user.id %>">Add Friend</a>
            </small>

            <% } %>
</div>

<script src="/js/friends.js"></script>